.register {
    align-items: center;
    position: relative;
    top: 80px;
    padding: 20px;
    width: 40%;
    background-color: #fdfdfd;
}

.register__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: auto;
    text-align: center;
}

.register__button {
    width: 100%;
}