.register {
    align-items: center;
    position: relative;
    top: 80px;
    padding: 20px;
    width: 40%;
    background-color: #f7f7f7;
    border-style: groove;
}

.register__button {
    width: 100%;
}